/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/03/2018, 23:34:53
    Author     : THAIS
*/


#btnClasseRef{
    margin-left: 560px;
}

#btnIniciar{
    margin-left: 850px;
}

