/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2018, 18:01:24
    Author     : THAIS
*/

#form\:labelCondEntrada{
    margin-left: 470px;
    margin-bottom: 240px;
    
}

#btnClasseRef{
    
    margin-top: 252px;
    margin-left: 12px;
    color: #e17009;
    width: 222px;
}

#form\:textCondicaoEntrada{
    margin-left: 500px;
    margin-top: 10px;
}

#form\:btnProximoPasso{
    margin-left: 650px;
    margin-top: 50px;
}

#textAreaDicaCondEntrada{
    margin-left: -365px;
    margin-bottom: -80px;
    resize: none;
    border: 2px solid;
    border-radius: 7.5pt;
    border-color: #e17009;
    text-align: justify;
}

#labelNomeSistema{
    color: #e17009;
}

#labelAlunoLogado{
    margin-left: 1200px;
    color: #e17009;
}


.ui-layout-unit{
    
    padding: 0;

}


.layoutNorth .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutNorth.ui-layout-unit{
    
    border: 0;
}


.layoutWest .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutWest.ui-layout-unit{
    border: none;
}

#imagedicaDois{
    width: 100px; 
    height: 100px; 
    margin-top: -45px;
    margin-left: 170px;
    
    
}

#labelDicaDois{
    margin-left:  150px;
    margin-top: -50px;
    color: #e17009;
}


#mensagemCE{
    margin-top: -200px;
    margin-left: -100px;
}

#logout{
    margin-left: 1208px;
    color: #e17009;
}