/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2018, 21:13:25
    Author     : THAIS
*/

#btnClasses{
    
    margin-left: 575px;
}

#btnClasseRef{
    
    margin-top: 204px;
    margin-left: 12px;
    color: #e17009;
    width: 222px;
}

#textAreaPassoTres{
    margin-left: 145px;
    resize: none;
    border: 2px solid;
    border-radius: 7.5pt;
    border-color: #e17009;
    text-align: justify;
}

#labelNomeSistema{
    color: #e17009;
}

#labelAlunoLogado{
    margin-left: 1200px;
    color: #e17009;
}


.ui-layout-unit{
    
    padding: 0;

}


.layoutNorth .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutNorth.ui-layout-unit{
    
    border: 0;
}


.layoutWest .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutWest.ui-layout-unit{
    border: none;
}


#logout{
    margin-left: 1208px;
    color: #e17009;
}

