/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/05/2018, 21:56:31
    Author     : THAIS
*/

#textAreaDicaClasse{
    margin-left: 145px;
    resize: none;
    border: 2px solid;
    border-radius: 7.5pt;
    border-color: #e17009;
    text-align: justify;
}

#btnClasseRef{
    
    margin-top: 204px;
    margin-left: 12px;
    color: #e17009;
    width: 222px;
}

#txtValida{
    margin-left: 147px;
}


#txtInvalida{
    
    margin-left: 134px;
}

#labelNomeSistema{
    color: #e17009;
}

#labelAlunoLogado{
    margin-left: 1200px;
    color: #e17009;
}

#formTable{
    margin-left: 145px;
}


.ui-layout-unit{
    
    padding: 0;

}


.layoutNorth .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutNorth.ui-layout-unit{
    
    border: 0;
}


.layoutWest .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutWest.ui-layout-unit{
    border: none;
}


#imagedica{
    width: 100px; 
    height: 100px; 
    margin-top: -45px;
    margin-left: 170px;
    
    
}

#labelDica{
    margin-left:  150px;
    margin-top: -50px;
    color: #e17009;
}

#logout{
    margin-left: 1208px;
    color: #e17009;
}