/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/10/2018, 19:50:50
    Author     : THAIS
*/


#labelClasseJU{
    
     margin-left: 142px;
    
}

#btnListaQuestoes{
    
    margin-top: 112px;;
    margin-left: 12px;
    color: #e17009;
    width: 222px;
}

#labelresultadoJU{
    margin-left: 400px;
}

#textClasseJU{
    margin-top: 5px;
    margin-left: 20px;
    border: 2px solid;
    border-color: #e17009;
    resize: none;
    
}

#btnExecJUnit{
    margin-top: 313px;
    margin-left: 487px;
}

#labelJU{
    
    margin-left: 230px;
    
    
}



#labelSaidaJU{
    margin-bottom: -300px;
    border: 2px solid;
    border-color: #2e6e9e;
    resize: none;
}

#labelNomeSistema{
    color: #e17009;
}

#labelAlunoLogado{
    margin-left: 1200px;
    color: #e17009;
}


.ui-layout-unit{
    
    padding: 0;

}


.layoutNorth .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutNorth.ui-layout-unit{
    
    border: 0;
}


.layoutWest .ui-layout-unit-content{
    background: whitesmoke;
    
}

.layoutWest.ui-layout-unit{
    border: none;
}

#imageexe{
    margin-left: 630px;
    margin-bottom: -350px;
    width: 60px;
    height: 60px;
}


#logout{
    margin-left: 1208px;
    color: #e17009;
}



